
.ui-body-c {
	background-image: url('img/bg_light.png');
}

div.course_img {
	width: 100%;
	height: 50px;
	background-color: #cccccc;
}

.profile_top_stats div {
	padding: 10px;
	border: 1px solid #cccccc;
}

div.ui-grid-c div span strong {
	display: block;
}





/* info ribbon */

div.ribbon {
	background: #fff;
	height: 25px;
	box-shadow: 0px 1px 3px #666;
}

div.ribbon div {
	height: 100%;
}

div.ribbon div div {
	border-left: 1px solid #ccc;
}

div.ribbon div div span {
	margin: 2px;
	padding: 2px;
}

div.ribbon div div span:nth-child(1) {
	color: #000;
	font-size: 9pt;
}

div.ribbon div div span:nth-child(2) {
	color: #555;
	text-transform: uppercase;
	font-size: 7pt;
}





/* message box */

a.msg {
	text-decoration: none;
	color: #444;
}
div.msg {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 3px #666;
	padding: 6px;
	font-size: 8pt;
	margin-bottom: 20px;
}

div.msg img {
	float: left;
	margin-right: 5px;
	border: 2px solid #fff;
	box-shadow: 1px 1px 3px #666;
	width: 23px;
	height: 23px;
}

div.msg span {
	font-size: 8pt;
	display: block;
	font-weight: bold;
	color: #444;
}

div.msg p {
	color: #444;
	font-weight: normal;
}





/* profile header */

div.profile_head {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

div.profile_head div.title {
	background: black;
}

div.profile_head div.title h1 {
	font-size: 12pt;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	margin: 0;
	padding: 10px;
}

div.profile_head div.container {
	background: #fff;
	min-height: 55px;
}

div.profile_head div.container p {
	font-size: 10pt;
	color: #555;
	margin: 3px;
	padding: 3px;
}

div.profile_head div.container a {
	border-radius: 3px;
	font-size: 7pt;
}
div.profile_head .ui-btn-corner-all {
	border-radius: 3px;
}

div.profile_head div.container a span.ui-btn-inner {
	padding: 3px 10px 3px 27px;
	color: #555;
}

div.profile_head img {
	width: 75px;
	height: 75px;
	position: relative;
	margin: 7px;
	float: left;
	border: 3px solid #fff;
	box-shadow: 1px 1px 3px #666;
}







div.head_content {
	width: 100%;
	height: 60px;
	padding-top: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 1em;

	background: url('img/bg_darkgreen.png') #000000;
}

div.head_toolbar {
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #cccccc;

}

div.head_toolbar span {
	color: #696969;
	font-size: 0.8em;
}

div.head_toolbar span b {
	color: #000;
	font-size: 1em;
}

div.head_toolbar div.ui-grid-a {
	height: 100%;
	height: 3.1em;
	border-bottom: 1px solid #cccccc;
}

div.head_toolbar div.ui-block-b, div.head_toolbar div.ui-block-a,  div.head_toolbar div.ui-block-c, div.head_toolbar div.ui-block-d {
	padding: 0.4em;
	height: 100%;
	font-size: 0.8em;
}

div.head_toolbar div.ui-block-b, div.head_toolbar div.ui-block-c, div.head_toolbar div.ui-block-d {
	border-left: 1px solid #cccccc;
	padding-left: 0.8em;
}


#map_canvas {
	height: 150px;
	width: 100%;
}

div.people span.title, div.msgarea span.title {
	font-weight: bold;
	margin: 3px;
	font-size: 9pt;
}

div.people span {
	font-size: 8pt;
}

div.person {
	padding: 6px;
	margin: 3px;
	height: 30px;
	background: #fff;
	box-shadow: 0px 1px 3px #666;
}

div.people div.person img {
	float: left;
	margin-right: 5px;
	border: 2px solid #fff;
	box-shadow: 1px 1px 3px #666;
	width: 23px;
	height: 23px;
}


/* stats panel */

#panel-stats-popup {
    right: 0 !important;
    left: auto !important;
}
#panel-stats {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: #333;
    margin: -1px 0;
}
#panel-stats .ui-btn {
    margin: 15px;
}

#panel-stats ul li span {
	float: right;
}





/* red button theme f */
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
color: white;
font-weight: bold;
text-decoration: none; }
 
.ui-btn-up-f {
border: 1px solid #711414;
background: #ab2525;
text-shadow: 0 -1px 1px #711414;
background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')"; }
 
.ui-btn-hover-f {
border: 1px solid #6e0000;
background: #b54a4a;
text-shadow: 0 -1px 1px #690101;
background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')"; }
 
.ui-btn-down-f {
border: 1px solid #782323;
background: #c44f4f;
text-shadow: 0 -1px 1px #782323;
background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')"; }

/* green button theme g */
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
color: white;
font-weight: bold;
text-decoration: none; }
 
.ui-btn-up-g {
border: 1px solid #006b00;
background: #019901;
text-shadow: 0 -1px 1px #006b00;
background-image: -moz-linear-gradient(top, #00bf00, #019901);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bf00), color-stop(1, #019901));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00bf00', EndColorStr='#019901')"; }
 
.ui-btn-hover-g {
border: 1px solid #006b00;
background: #00bf00;
text-shadow: 0 -1px 1px #690101;
background-image: -moz-linear-gradient(top, #019901, #006000);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #019901), color-stop(1, #006000));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#019901', EndColorStr='#006000')"; }
 
.ui-btn-down-g {
border: 1px solid #006b00;
background: #006b00;
text-shadow: 0 -1px 1px #00592b;
background-image: -moz-linear-gradient(top, #006000, #00bf00);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006000), color-stop(1, #00bf00));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#006000', EndColorStr='#00bf00')"; }
