RewriteEngine On

#RewriteRule ^([a-zA-Z0-9-z\-]+)$ dgs.php?p=$1
#RewriteRule ^([a-zA-Z0-9-z\-]+)/$ dgs.php?p=$1

#RewriteRule ^([a-zA-Z0-9-z\-]+)/([a-zA-Z0-9-z\-]+)$ dgs.php?p=$1&f=$2
#RewriteRule ^([a-zA-Z0-9-z\-]+)/([a-zA-Z0-9-z\-]+)/$ dgs.php?p=$1&f=$2